SolicitudMateriales/pkgs/Wadl/SolicitudPDF-V2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SolicitudPDF-V2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SolicitudPDF-V2" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Creararchivo_Contenidodelarchivo_def" />
      <string name="ManualTriggerInput_Enviarcorreoelectr_uxF3_nico_ux28_V2_ux29__Asunto_def" />
      <string name="ManualTriggerInput_Setvariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Creararchivo_Contenidodelarchivo" type="string" />
        <property name="Enviarcorreoelectrónico(V2)_Asunto" type="string" />
        <property name="Setvariable_Value" type="string" />
        <property name="Initializevariable_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Creararchivo_Contenidodelarchivo" path="/Creararchivo_Contenidodelarchivo" type="xs:string" required="true" />
            <param style="plain" name="Enviarcorreoelectrónico(V2)_Asunto" path="/Enviarcorreoelectrónico(V2)_Asunto" type="xs:string" required="true" />
            <param style="plain" name="Setvariable_Value" path="/Setvariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>